name: Test workflow
on: push
jobs:
  lint:
    name: Lint sources
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - name: Checkout
        uses: 'actions/checkout@master'

      - name: Set Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies

        run: yarn install --frozen-lockfile

      - name: Lint sources
        run: yarn run lint

      - name: 'Check for uncommitted changes'
        run: |
          git diff --exit-code --stat -- . \
          || (echo "##[error] found changed files after build. please 'yarn install --frozen-lockfile && yarn run lint:nofix && yarn run test:unit'" \
                   "and check in all changes" \
              && exit 1)
  unit_test:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - name: Checkout
        uses: 'actions/checkout@master'

      - name: Set Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies

        run: yarn install --frozen-lockfile

      - name: check compilers
        run: yarn truffle compile --list

      - name: Run tests
        run: yarn run test
