name: Test workflow
on: pull_request
jobs:
  lint:
    name: Lint sources
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Checkout
        uses: "actions/checkout@master"

      - name: Set Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Lint Solidity sources
        run: npm run lint:sol
      - name: Build contracts
        run: npm run build
      - name: Lint TypeScript sources
        run: npm run lint:ts

  unit_test:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Checkout
        uses: "actions/checkout@master"

      - name: Set Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci
      - name: Build application
        run: npm run build
      - name: Run test coverage
        run: npm run coverage
      - name: Upload coverage to action results
        uses: actions/upload-artifact@v4
        with:
          path: |
            coverage/
            coverage.json